/* General HTML element styles go in this file. These form the base styles that can be modified in your .svelte files. */
/* NOTE: I haven't been able to figure out how to get CSS nesting to work outside of Svelte components. */

html, body {
  font-size: var(--fpcl-font-size-base, 16px);
  font-family: var(--fpcl-body-font-stack);
  color: var(--fpcl-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fpcl-headline-font-stack);
  font-weight: normal;
}

p {
  line-height: 1.5rem;
}

li {
  margin-bottom: 7px;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--fpcl-primary);
  border-bottom: 1px dotted var(--fpcl-primary);
}
a:hover {
  border-bottom: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom-width: var(--fpcl-border-width, 1px);
  border-bottom-style: var(--fpcl-border-style, solid);
  border-bottom-color: var(--fpcl-border-color, #c7c7c7);
}
th, td {
  padding: 10px 25px;
  text-align: left;
  vertical-align: top;
}

/* <pre> or triple backticks */
pre {
  font-family: var(--fpcl-code-font-stack);
  padding: 10px;
  border-radius: var(--fpcl-border-radius, 3px);
  background-color: var(--fpcl-very-light-gray);
}
/* <code> or single backticks */
code {
  font-family: var(--fpcl-code-font-stack);
  padding: 0 3px;
  border-radius: var(--fpcl-border-radius, 3px);
  background-color: var(--fpcl-very-light-gray);
}

hr {
  margin: 30px 0;
  border: none;
  border-top-width: var(--fpcl-border-width, 1px);
  border-top-style: var(--fpcl-border-style, solid);
  border-top-color: var(--fpcl-border-color, #c7c7c7);
}
