/* Global Component Styles */
:root {
  /* Main Colors */
  --fpcl-primary: var(--dark-purple);
  --fpcl-secondary: var(--very-dark-gray);
  --fpcl-tertiary: var(--white);
  /*
    Neutral Colors
    * These colors are used for text colors, border colors, box shadows, etc.
    * NOTE: These are lighter and darker shades of #a0a0a0. See https://www.colorhexa.com/a0a0a0.
  */
  --fpcl-black: #000000;
  --fpcl-very-dark-gray: #343434;
  --fpcl-dark-gray: #797979;
  --fpcl-gray: #a0a0a0;
  --fpcl-light-gray: #c7c7c7;
  --fpcl-very-light-gray: #e5e5e5;
  --fpcl-white: #ffffff;
  /* Notification Colors */
  --fpcl-success: var(--fpcl-green);
  --fpcl-warning: var(--fpcl-yellow);
  --fpcl-alert: var(--fpcl-red);

  /* Borders */
  --fpcl-border-color: var(--fpcl-light-gray);
  --fpcl-border-radius: 3px;
  /* Font styles */
  --fpcl-font-size-sm: 12px;
  --fpcl-font-size-base: 16px;
  --fpcl-font-size-lg: 20px;
  --fpcl-font-weight-light: 100;
  --fpcl-font-weight-normal: 400;
  --fpcl-font-weight-bold: 700;
  --fpcl-text-color: var(--fpcl-very-dark-gray);
}
