/* This file will contain CSS variables that apply to the documentation, but not the component library. */

/* Color Palette */
:root {
  /* Main Colors: The following colors were taken from https://www.w3schools.com/w3css/w3css_color_metro.asp. */
  --light-green: #99b433;
  --green: #00a300;
  --dark-green: #1e7145;
  --magenta: #ff0097;
  --light-purple: #9f00a7;
  --purple: #7e3878;
  --dark-purple: #603cba;
  --teal: #00aba9;
  --light-blue: #eff4ff;
  --blue: #2d89ef;
  --dark-blue: #2b5797;
  --yellow: #ffc40d;
  --orange: #e3a21a;
  --dark-orange: #da532c;
  --red: #ee1111;
  --dark-red: #b91d47;
  /* Neutral Colors. NOTE: These are lighter and darker shades of #a0a0a0. See https://www.colorhexa.com/a0a0a0. */
  --black: #000000;
  --very-dark-gray: #343434;
  --dark-gray: #797979;
  --gray: #a0a0a0;
  --light-gray: #c7c7c7;
  --very-light-gray: #e5e5e5;
  --white: #ffffff;
}

/* Global Component Styles */
:root {
  /* Main Colors */
  --primary-color: var(--dark-purple);
  --secondary-color: var(--very-dark-gray);
  --tertiary-color: var(--white);
  /* Notification Colors */
  --info-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--yellow);
  --error-color: var(--red);
  /* Padding (These values are used to provide the sizes for elements like buttons, input fields, etc.) */
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  /* Borders */
  --border-color: var(--light-gray);
  --border-radius: 3px;
  /* Font styles */
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --text-color: var(--very-dark-gray);
  /* Disabled States */
  --disabled-text-color: var(--light-gray);
  --disabled-bg-color: var(--black);
}

/* Typography */
:root {
  --cursive-font-stack: "Audiowide", cursive;
  --sans-serif-font-stack: "Montserrat", sans-serif;
  --mono-font-stack: "Source Code Pro", mono;
  /* The following "Open Sans" font is used for testing purposes to see how it affects different components because the letters that have tails that hang below the baseline, like J, hang lower in Open Sans than they do in Montserrat. */
  /* --sans-serif-font-stack: "Open Sans", sans-serif; */
}

/* Borders */
:root {
  --border: 1px solid var(--border-color);
}
